#productContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* max-width: 800px; */
    margin: auto;
    gap: 20px;
    background-color:#f4f2f2d1;
    padding: 40px;
    
   
}

.tarjeta-producto{
   max-width: 280px;
    max-height: 800px;
    border: solid 5px #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    transition: 200ms;
    box-shadow: 3 3 5px rgba(50, 49, 49, 0.298);
    transition: 200ms;
    
}

.tarjeta-producto:hover{
    translate: 0 -10px;
    box-shadow: 0 10px 10px rgba(50, 49, 49, 0.336);
}



.tarjeta-producto img{
    width: 100%;
    aspect-ratio: 1;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
   
    
}

.tarjeta-producto div{
    margin:10px;
}

.tarjeta-producto button{
    height: 40px;
    width: 120px;
    border-radius: 6px;
    border: solid  rgba(232, 200, 20, 0.894);
    background-color: rgba(232, 200, 20, 0.894);

}